# Name: PIV package
# Description: https://sites.google.com/site/qingzongtseng/piv

# Author: Qingzong TSENG (qztseng /at/ gmail dot com)
# Version: 2.0
# Date: 2020/2/4
# Requires: ImageJ 1.52

Plugins>PIV , "iterative PIV(Cross-correlation)...", PIV.iterative_PIV("Cross-correlation")
Plugins>PIV , "iterative PIV(Basic)...", PIV.iterative_PIV("Basic")
Plugins>PIV , "iterative PIV(Advanced)...", PIV.iterative_PIV("Advanced")
Plugins>PIV , "iterative PIV(Debug)...", PIV.iterative_PIV("Debug")
Plugins>PIV , "plot...", PIV.plot_("")
